version: "3.9"

services:
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/radarr:/config
      - "{{ data_root }}:/data"
    ports:
      - "{{ radarr_port }}:7878/tcp"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - homepage.group=Media
      - homepage.name=Radarr
      - homepage.icon=radarr
      - homepage.href=http://radarr.local
      - homepage.description=Movie Management
      - homepage.weight=10
{% if radarr_api_key %}
      - homepage.widget.type=radarr
      - homepage.widget.url=http://{{ homepage_base_url }}:{{ radarr_port }}
      - homepage.widget.key={{ radarr_api_key }}
{% endif %}

  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/sonarr:/config
      - "{{ data_root }}:/data"
    ports:
      - "{{ sonarr_port }}:8989/tcp"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - homepage.group=Media
      - homepage.name=Sonarr
      - homepage.icon=sonarr
      - homepage.href=http://sonarr.local
      - homepage.description=Series Management
      - homepage.weight=20
{% if sonarr_api_key %}
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://{{ homepage_base_url }}:{{ sonarr_port }}
      - homepage.widget.key={{ sonarr_api_key }}
{% endif %}

  overseerr:
    image: lscr.io/linuxserver/overseerr
    container_name: overseerr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/overseerr:/config
    ports:
      - "{{ overseerr_port }}:5055/tcp"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.overseerr.rule=Host(`request.local.lachie.xyz`)
      - homepage.group=Media
      - homepage.name=Overseerr
      - homepage.icon=overseerr
      - homepage.href=http://request.local
      - homepage.description=Media Requests
      - homepage.weight=30
{% if overseerr_api_key %}
      - homepage.widget.type=overseerr
      - homepage.widget.url=http://{{ homepage_base_url }}:{{ overseerr_port }}
      - homepage.widget.key={{ overseerr_api_key }}
{% endif %}

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/prowlarr:/config
    ports:
      - "{{ prowlarr_port }}:9696/tcp"
    restart: unless-stopped
    labels:
      - traefik.enable=true

      - homepage.group=File Management
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr
      - homepage.href=http://prowlarr.local
      - homepage.description=Index Management
      - homepage.weight=10
{% if prowlarr_api_key %}
      - homepage.widget.type=prowlarr
      - homepage.widget.url=http://{{ homepage_base_url }}:{{ prowlarr_port }}
      - homepage.widget.key={{ prowlarr_api_key }}
{% endif %}

  qbittorrent:
    image: binhex/arch-qbittorrentvpn
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - TZ={{ timezone }}
      - WEBUI_PORT={{ qbittorrent_port }}
      - VPN_ENABLED=yes
      - VPN_PROV=custom
      - VPN_CLIENT=openvpn
      - VPN_USER=tUJFr84VXBmMHzxT
      - VPN_PASS=Rkz6P5j2v0k71ysvfLrg6HOVATlL8bv8
      - ENABLE_PRIVOXY=no
      - LAN_NETWORK=192.168.1.0/24
    volumes:
      - /mnt/config/qbittorrent:/config
      - "{{ data_root }}:/data"
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ qbittorrent_port }}:{{ qbittorrent_port }}/tcp"
      - "{{ qbittorrent_privoxy_port }}:8118/tcp"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent.rule=Host(`torrent.local.lachie.xyz`)

      - homepage.group=File Management
      - homepage.name=qBitTorrent
      - homepage.icon=qbittorrent
      - homepage.href=http://torrent.local
      - homepage.description=Torrent Downloader
{% if qbittorrent_username and qbittorrent_password %}
      - homepage.widget.type=qbittorrent
      - homepage.widget.url=http://{{ homepage_base_url }}:{{ qbittorrent_port }}
      - homepage.widget.username={{ qbittorrent_username }}
      - homepage.widget.password={{ qbittorrent_password }}
{% endif %}

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - TZ={{ timezone }}
    volumes:
      - /mnt/config/bazarr:/config
      - "{{ data_root }}:/data"
    ports:
      - "{{ bazarr_port }}:6767"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - homepage.group=File Management
      - homepage.name=Bazarr
      - homepage.icon=bazarr
      - homepage.weight=20
      - homepage.href=http://bazarr.local
      - homepage.description=Subtitle downloader
{% if bazarr_api_key %}
      - homepage.widget.type=bazarr
      - homepage.widget.url=http://{{ homepage_base_url }}:{{ bazarr_port }}
      - homepage.widget.key={{ bazarr_api_key }}
{% endif %}

networks:
  default:
    name: media-proxy
    external: true
