version: "3.9"
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - TZ={{ timezone }}
      - JELLYFIN_PublishedServerUrl={{ ansible_host }}
    volumes:
      - /mnt/config/jellyfin:/config
      - "{{ data_root }}:/data"
    ports:
      - 8096:8096/tcp
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.entrypoints=https
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096

      - homepage.group=Media
      - homepage.name=Jellyfin
      - homepage.icon=jellyfin
      - homepage.href=https://jellyfin.{{ base_domain }}
      - homepage.description=Media Server
      - homepage.weight=15
{% if jellyfin_api_key %}
      - homepage.widget.type=jellyfin
      - homepage.widget.url=http://jellyfin:8096
      - homepage.widget.key={{ jellyfin_api_key }}
{% endif %}

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - VERSION=docker
      - TZ={{ timezone }}
    volumes:
      - /mnt/config/plex:/config
      - "{{ data_root }}:/data"
    ports:
      - 32400:32400/tcp
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.plex.entrypoints=https
      - traefik.http.services.plex.loadbalancer.server.port=32400

      - homepage.group=Media
      - homepage.name=Plex
      - homepage.icon=plex
      - homepage.href=https://plex.{{ base_domain }}
      - homepage.description=Media Server
      - homepage.weight=1
{% if tautulli_api_key %}
      - homepage.widget.type=tautulli
      - homepage.widget.url=http://tautulli:8181
      - homepage.widget.key={{ tautulli_api_key }}
{% endif %}

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - TZ={{ timezone }}
    volumes:
      - /mnt/config/tautulli:/config
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.tautulli.entrypoints=https

      - homepage.group=Media
      - homepage.name=Tautulli
      - homepage.icon=tautulli
      - homepage.href=https://tautulli.{{ base_domain }}
      - homepage.description=Plex Analytics
      - homepage.weight=10
networks:
  default:
    name: media-proxy
    external: true