version: "3.9"

services:
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/radarr:/config
      - "{{ media_mnt_dir }}:/data"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.radarr.entrypoints=https

      - homepage.group=Media
      - homepage.name=Radarr
      - homepage.icon=radarr
      - homepage.href=https://radarr.{{ base_domain }}
      - homepage.description=Movie Management
      - homepage.weight=20
{% if radarr_api_key %}
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr:7878
      - homepage.widget.key={{ radarr_api_key }}
{% endif %}

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/sonarr:/config
      - "{{ media_mnt_dir }}:/data"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.entrypoints=https

      - homepage.group=Media
      - homepage.name=Sonarr
      - homepage.icon=sonarr
      - homepage.href=https://sonarr.{{ base_domain }}
      - homepage.description=Series Management
      - homepage.weight=21
{% if sonarr_api_key %}
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarr:8989
      - homepage.widget.key={{ sonarr_api_key }}
{% endif %}

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/overseerr:/config
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.overseerr.entrypoints=https
      - traefik.http.routers.overseerr.rule=Host(`request.{{ base_domain }}`)

      - homepage.group=Media
      - homepage.name=Overseerr
      - homepage.icon=overseerr
      - homepage.href=https://request.{{ base_domain }}
      - homepage.description=Media Requests
      - homepage.weight=30
{% if overseerr_api_key %}
      - homepage.widget.type=overseerr
      - homepage.widget.url=http://overseerr:5055
      - homepage.widget.key={{ overseerr_api_key }}
{% endif %}

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    volumes:
      - /mnt/config/prowlarr:/config
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.entrypoints=https

      - homepage.group=File Management
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr
      - homepage.href=https://prowlarr.{{ base_domain }}
      - homepage.description=Index Management
      - homepage.weight=10
{% if prowlarr_api_key %}
      - homepage.widget.type=prowlarr
      - homepage.widget.url=http://prowlarr:9696
      - homepage.widget.key={{ prowlarr_api_key }}
{% endif %}

  qbittorrent:
    image: binhex/arch-qbittorrentvpn:latest
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - TZ={{ timezone }}
      - WEBUI_PORT={{ qbittorrent_port }}
      - VPN_ENABLED=yes
      - VPN_PROV=custom
      - VPN_CLIENT=openvpn
      - VPN_USER=tUJFr84VXBmMHzxT
      - VPN_PASS=Rkz6P5j2v0k71ysvfLrg6HOVATlL8bv8
      - ENABLE_PRIVOXY=no
      - LAN_NETWORK=192.168.1.0/24
    volumes:
      - /mnt/config/qbittorrent:/config
      - "{{ media_mnt_dir }}:/data"
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent.entrypoints=https
      - traefik.http.routers.qbittorrent.rule=Host(`torrent.{{ base_domain }}`)
      - traefik.http.services.qbittorrent.loadbalancer.server.port={{ qbittorrent_port }}

      - homepage.group=File Management
      - homepage.name=qBitTorrent
      - homepage.icon=qbittorrent
      - homepage.href=https://torrent.{{ base_domain }}
      - homepage.description=Torrent Downloader
{% if qbittorrent_username and qbittorrent_password %}
      - homepage.widget.type=qbittorrent
      - homepage.widget.url=http://qbittorrent:{{ qbittorrent_port }}
      - homepage.widget.username={{ qbittorrent_username }}
      - homepage.widget.password={{ qbittorrent_password }}
{% endif %}

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - TZ={{ timezone }}
    volumes:
      - /mnt/config/bazarr:/config
      - "{{ media_mnt_dir }}:/data"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.bazarr.entrypoints=https

      - homepage.group=File Management
      - homepage.name=Bazarr
      - homepage.icon=bazarr
      - homepage.weight=20
      - homepage.href=https://bazarr.{{ base_domain }}
      - homepage.description=Subtitle downloader
{% if bazarr_api_key %}
      - homepage.widget.type=bazarr
      - homepage.widget.url=http://bazarr:6767
      - homepage.widget.key={{ bazarr_api_key }}
{% endif %}

networks:
  default:
    name: media-proxy
    external: true
