version: "3.9"
services:
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1
      - POST=0
    ports:
      - 2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  homepage:
    image: ghcr.io/benphelps/homepage:latest
    container_name: homepage
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
    ports:
      - "{{ homepage_port }}:3000"
    dns:
      - 10.0.0.5 # pihole TODO: Move to variable
      - 1.1.1.1 # Cloudflare
    volumes:
      - /mnt/config/homepage/config:/app/config
      - /mnt/config/homepage/img:/app/public/img
    restart: unless-stopped
    labels:
      - traefik.enable=true

networks:
  default:
    name: media-proxy
    external: true
