version: "3.9"

services:
  traefik:
    image: "traefik:latest"
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - '80:80'
      - '443:443'
    environment:
      - CF_API_EMAIL={{ cf_api_email }}
      - CF_DNS_API_TOKEN={{ cf_dns_api_token }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/config/traefik:/etc/traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=https"
      - "traefik.http.routers.traefik.service=api@internal"

      - homepage.group=Networking
      - homepage.name=Traefik
      - homepage.icon=traefik
      - homepage.href=https://traefik.{{ base_domain }}
      - homepage.description=Reverse Proxy Manager
      - homepage.weight=-10
{% if traefik_username is defined and traefik_password is defined %}
      - "traefik.http.middlewares.traefik-auth.basicauth.usersfile=/etc/traefik/users"
      - "traefik.http.routers.traefik.middlewares=traefik-auth"

      - homepage.widget.type=traefik
      - homepage.widget.url=https://traefik.{{ base_domain }}
      - homepage.widget.username={{traefik_username}}
      - homepage.widget.password={{traefik_password}}
{% endif %}

  speedtest:
    container_name: speedtest
    image: henrywhitaker3/speedtest-tracker:latest
    restart: unless-stopped
    environment:
      - PUID={{ getent_passwd[username].1 }}
      - PGID={{ getent_passwd[username].2 }}
      - TZ={{ timezone }}
      - OOKLA_EULA_GDPR=true
    volumes:
      - /mnt/config/speedtest:/config
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    labels:
      - traefik.enable=true
      - traefik.http.routers.speedtest.entrypoints=https

      - homepage.group=Networking
      - homepage.name=Speed Test
      - homepage.icon=speedtest-tracker
      - homepage.href=https://speedtest.{{ base_domain }}
      - homepage.description=Speed Test
      - homepage.weight=20
      - homepage.widget.type=speedtest
      - homepage.widget.url=http://speedtest:80

networks:
  default:
    name: media-proxy
    external: true
